#root {
    margin: auto;
    width: 50%;
    background-color: bisque;
}
.App{
    text-align: center;
}

.card{
    margin: auto;
    width: 400px;
    height: 200px;
    background-color: grey;
    font-size: 100px;
}

body{
    background-color: aqua;
}